<div>
    {% if request.user.is_authenticated %}
        <button><a href="{% url 'Users:Signout-View' %}">Signout</a></button>
        <a href="{% url 'Schedule:Home-View' %}">Home</a>
        {% if request.user.group == "lecturer" %}
            <a href="{% url 'Unit:SemesterUnit-View' %}">Units</a>
            <a href="{% url 'Room:AssignRoom-View' %}">Room</a>
            <a href="{% url 'Schedule:Schedule-View' %}">Schedule</a>
        {% endif %}
        {% if user.is_superuser %}
           <a href="../../../admin">Tables</a>
        {% endif %}


    {% endif %}
</div>