{% extends "base.html" %}

{% block title %}Schedule Page{% endblock title %}

{% block body %}
    {% if semester_units %}
        <style>
            .palette {
                float: left;
                width: 15%;
                height: 75%;
                border: 1px solid #ddd;
                padding: 10px;
                margin: 10px;
                overflow: auto;
            }
            .canvas {
                display: grid;
                margin: 10px;
                max-height: 75%;
                overflow-y: auto;
                height: 75%;
                border: 1px solid #ddd;
                padding: 10px;
                margin: 10px;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(6, 1fr);
                gap: 0px;
            }
            .canvas-title {
                width: 100%;
                height: 100%;
                border: 1px solid #000; /* Border styling */
                box-sizing: border-box;
            }
            .canvas-cell {
                width: 100%;
                height: 100%;
                border: 1px solid #000; /* Border styling */
                box-sizing: border-box;
            }
            .draggable-unit {
                width: 200px;
                height: 20px;
                margin: 5px;
                padding: 5px;
                border: 1px solid black;
                cursor: move;
                position: relative;
                display: flex;
            }
            .resize-handle {
                width: 10px;
                height: 100%;
                background-color: #ccc;
                position: absolute;
                right: 0;
                top: 0;
                cursor: ew-resize;
                z-index: 2;
            }
            .popup-wrapper {
                display: none;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: rgba(0, 0, 0, 0.5);
                width: 100%;
                height: 100%;
            }
            .popup {
                background: white;
                padding: 20px;
                max-width: 400px;
                margin: 100px auto;
                border-radius: 8px;
                position: relative;
            }
            .popup-close {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
            .submit-button-container {
                left: 50%;
                margin-top: 20px; /* Adjust margin as needed */
                margin-left: 45%;
            }
        </style>
        {{ external_lectures|json_script:"external_lectures" }}
        <script>
            window.onload = function render_lectures() {
                console.log("Loading lectures...")
                const myData = JSON.parse(document.getElementById('external_lectures').textContent);
                console.log("Data: ", myData);
                myData.forEach(lecture => {
                    var day = lecture.fields.day;
                    var start = Number((lecture.fields.start).slice(0,2));
                    var end = lecture.fields.end;
                    var cell = document.querySelector('.canvas-cell[day="'+day+'"][time="'+start+'"]');
                    if (cell){
                        cell.setAttribute("free", "false");
                        var url =  "{% url 'Schedule:GetLectureUnits' semesterUnit_id=999999999 %}"
                        url = url.replace("999999999", lecture.fields.SemesterUnit)
                        fetch(url)
                            .then(response => response.json())
                            .then(data => {
                                cell.innerText = data.code + " " + data.name + " " + data.room;
                            });
                    }
                });
            }
            var draggedSemesterUnitId;
            var addedToCanvas = new Set();
            var originalWidth;
            var resizeHandleStartX;
            function drag(ev) {
                ev.dataTransfer.setData("text", ev.target.id);
                draggedSemesterUnitId = event.target.id;
                event.dataTransfer.setData("text", draggedSemesterUnitId);
            }
            function allowDrop(ev) {
                ev.preventDefault();
            }
            function closePopup() {
                var popup = document.querySelector('.popup-wrapper');
                popup.style.display = 'none';
            }
            function updateSlotAvailability(target, rooms, day, time){
                console.log("Targetted is: ", target);
                var cell_selected = document.querySelector(`.canvas-cell[day="${day}"].canvas-cell[time="${time}"]`);
                var cell_selected_units = cell_selected.querySelectorAll('.draggable-unit[data-semester-unit-id]');
                // Get list of rooms already selected
                // Get list of all rooms
                // Alter lists
                rooms_selected = []
                left_rooms = []
                cell_selected_units.forEach(element => {
                    if (element.getAttribute('data-room-id') != null){
                        rooms_selected.push(Number(element.getAttribute('data-room-id')));
                    }
                });
                console.log("Rooms selected: ", rooms_selected)
                rooms.forEach(room =>{
                    console.log("Room is ", room);
                    if (rooms_selected.includes(room.id)){
                        console.log("Popping room ", room.id);
                    } else {
                        left_rooms.push(room)
                    }
                });
                console.log("Rooms left: ", left_rooms, " with length ", left_rooms.length);
                if (left_rooms.length == 1){
                    target.setAttribute("free", "false");
                }
                return left_rooms;
            
            }
            function drop(ev) {
                ev.preventDefault();
                var data = ev.dataTransfer.getData("text");
                var draggedElement = document.getElementById(data);
                if (!addedToCanvas.has(data) && ev.target.getAttribute('free')=='true') {
                    var clonedElement = draggedElement.cloneNode(true);
                    clonedElement.setAttribute('data-semester-unit-id', data);
                    clonedElement.removeAttribute("draggable");
                    ev.target.appendChild(clonedElement);
                    addedToCanvas.add(data);
                    var target = ev.target;
                    var deleteButton = document.createElement("span");
                    deleteButton.className = "delete-button";
                    deleteButton.innerHTML = "🗑️";;
                    deleteButton.onclick = function () {
                        target.removeChild(clonedElement); 
                        addedToCanvas.delete(data);
                        ev.target.style.background = 'white';
                        target.setAttribute("free", "true")
                    };
                    clonedElement.appendChild(deleteButton);
                    var resizeHandle = document.createElement('div');
                    resizeHandle.classList.add('resize-handle');
                    resizeHandle.setAttribute('pressable', 'true');
                    function resizeStart(ev) {
                        if (ev.target.getAttribute('pressable')=='true'){
                            document.addEventListener('mousemove', resizeDrag);
                            ev.target.setAttribute('pressable', 'false');
                        }
                    }
                    function resizeDrag(ev) {
                        console.log("Target: ", draggedElement);
                        var clonedElement = draggedElement.cloneNode(true);
                        clonedElement.setAttribute('data-semester-unit-id', data);
                        clonedElement.removeAttribute("draggable");
                        var deleteButton = document.createElement("span");
                        deleteButton.className = "delete-button";
                        deleteButton.innerHTML = "🗑️";;
                        deleteButton.onclick = function () {
                            ev.target.removeChild(clonedElement);
                            addedToCanvas.delete(data);
                            ev.target.style.background = 'white';
                            ev.target.setAttribute("free", "true");
                        };
                        clonedElement.appendChild(deleteButton);
                        var nextCell = ev.target;
                        nextCell.appendChild(clonedElement);
                        nextCell.setAttribute("free", "false");
                        var url = "{% url 'Schedule:GetPreference' semesterUnit_id=9999999999 %}";
                        url = url.replace("9999999999", semesterUnit_id);
                        fetch(url)
                            .then(response => response.json())
                            .then(data=> {
                                var day_pref = data.day
                                var time_pref = data.time
                                var day_slot = ev.target.getAttribute('day');
                                var time_slot = ev.target.getAttribute('time');
                                console.log("Slot on: ", day_slot,  " and at: ", time_slot);
                                if (day_pref != day_slot){
                                    console.log("Invalid day");
                                    nextCell.style.background = 'red';
                                } else {
                                    console.log("Time slot: ", time_slot, " vs Time preference ", time_pref);
                                    if (time_slot < time_pref || time_slot > (time_pref+1)){
                                        console.log("Invalid time")
                                        nextCell.style.background = 'red';
                                    }
                                }
                            });
                        document.removeEventListener('mousemove', resizeDrag);
                    }
                    resizeHandle.addEventListener('mousedown', resizeStart);
                    clonedElement.appendChild(resizeHandle);
                    closePopup();
                    var popup = document.querySelector('.popup-wrapper')
                    popup.style.display = 'block';
                    var popupform = popup.querySelector('.popup-content');
                    var selectform = popupform.querySelector('#id_room');
                    var saveBtn = popupform.querySelector('#popup-save-btn');
                    if (saveBtn !== null){
                        popupform.removeChild(saveBtn);
                    }
                    var semesterUnit_id = draggedElement.dataset.semesterunitId;
                    console.log("Data: ", semesterUnit_id);
                    var url = "{% url 'Schedule:GetRooms-View' semesterUnit_id=9999999999 %}";
                    url = url.replace("9999999999", semesterUnit_id);
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            const rooms = data;
                            selectform.innerHTML = "";
                            var day_slot = ev.target.getAttribute('day');
                            var time_slot = ev.target.getAttribute('time');
                            rooms_available = updateSlotAvailability(target, rooms, day_slot, time_slot, );
                            rooms_available.forEach(room => {
                                var option = document.createElement("option");
                                option.value = room.id;
                                option.text = room.name;
                                selectform.appendChild(option);
                            });
                        }); 
                    var url = "{% url 'Schedule:GetPreference' semesterUnit_id=9999999999 %}";
                    url = url.replace("9999999999", semesterUnit_id);
                    fetch(url)
                        .then(response => response.json())
                        .then(data=> {
                            var day_pref = data.day
                            var time_pref = data.time
                            var day_slot = ev.target.getAttribute('day');
                            var time_slot = ev.target.getAttribute('time');
                            console.log("Slot on: ", day_slot,  " and at: ", time_slot);
                            if (day_pref != day_slot){
                                console.log("Invalid day");
                                ev.target.style.background = 'red';
                            } else {
                                console.log("Time slot: ", time_slot, " vs Time preference ", time_pref);
                                if (time_slot < time_pref || time_slot > (time_pref+1)){
                                    console.log("Invalid time")
                                    ev.target.style.background = 'red';
                                }
                            }
                        })
                }
            }
            function linkSemesterUnitRoomBtn() {
                var selectedRoomId = document.getElementById('id_room').value;
                var clonedElement = document.querySelector(`.draggable-unit[data-semester-unit-id="${draggedSemesterUnitId}"]`);
                if (draggedSemesterUnitId && selectedRoomId && clonedElement) {
                    console.log(`Linking Unit ${draggedSemesterUnitId} with Room ${selectedRoomId}`);
                    clonedElement.setAttribute('data-room-id', selectedRoomId);
                    closePopup();
                } else {
                    console.error("Dragged semester unit ID or selected room ID is missing.");
                }
            }
            function collectLectures(){
                var Lectures = []
                document.querySelectorAll('.canvas').forEach(canvas => {
                    var canvasElements = canvas.querySelectorAll('.draggable-unit[data-semester-unit-id]');
                    canvasElements.forEach(element => {
                        console.log("Extended: ", element);
                        var semester_unit = element.getAttribute('data-semester-unit-id');
                        var room = element.getAttribute('data-room-id');
                        var time = element.parentNode.getAttribute('time');
                        var day = element.parentNode.getAttribute('day');
                        Lectures.push({semester_unit: semester_unit, room: room, time:time, day:day});

                    });
                });
                return Lectures;
            }
            function getCSRFToken() {
                var csrfToken = null;
                document.cookie.split(';').forEach(cookie => {
                    var parts = cookie.trim().split('=');
                    if (parts[0] === 'csrftoken') {
                        csrfToken = decodeURIComponent(parts[1]);
                    }
                });
                return csrfToken;
            }
            function saveSchedule(){
                var lectures = collectLectures();
                if (lectures.length > 0){
                    var url = "{% url 'Schedule:SaveLectures' %}";
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCSRFToken(),
                        },
                        body: JSON.stringify({lectures: lectures}),
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert('Successfully submitted schedule');
                            window.location.href = "{% url 'Schedule:Home-View' %}"
                        } else {
                            alert(' Error submitting schedule: '+ data.error);
                        }
                    })
                    .catch (error => {
                        alert('Error submitting schedule: ')
                    });
                } else {
                    alert('No lectures submitted.');
                }
            }
            
        </script>
        <!-- Palette -->
        <div class="palette">
            Pallette
            {% for semester_unit in semester_units %}
                <div class="draggable-unit" draggable="true" ondragstart="drag(event)" id="{{semester_unit.id}}" data-semesterUnit-id="{{semester_unit.id}}">{{ semester_unit }}</div>
            {% endfor %}
        </div>
        <!-- Canvas -->
        <div class="canvas">
            <div class="canvas-title">Day</div>
            <div class="canvas-title">7Am</div>
            <div class="canvas-title">8AM</div>
            <div class="canvas-title">9AM</div>
            <div class="canvas-title">10AM</div>
            <div class="canvas-title">11AM</div>
            <div class="canvas-title">12Noon</div>
            <div class="canvas-title">1PM</div>
            <div class="canvas-title">2PM</div>
            <div class="canvas-title">3PM</div>
            <div class="canvas-title">4PM</div>
            <div class="canvas-title">5PM</div>
            {% comment %} Day break {% endcomment %}
            <div class="canvas-title">Monday</div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Monday" time="7"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Monday" time="8"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Monday" time="9"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Monday" time="10"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Monday" time="11"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Monday" time="12"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Monday" time="13"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Monday" time="14"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Monday" time="15"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Monday" time="16"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Monday" time="17"></div>
            {% comment %} Day break {% endcomment %}
            <div class="canvas-title">Tuesday</div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Tuesday" time="7"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Tuesday" time="8"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Tuesday" time="9"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Tuesday" time="10"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Tuesday" time="11"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Tuesday" time="12"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Tuesday" time="13"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Tuesday" time="14"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Tuesday" time="15"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Tuesday" time="16"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Tuesday" time="17"></div>
            {% comment %} Day break {% endcomment %}
            <div class="canvas-title">Wednesday</div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Wednesday" time="7"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Wednesday" time="8"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Wednesday" time="9"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Wednesday" time="10"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Wednesday" time="11"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Wednesday" time="12"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Wednesday" time="13"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Wednesday" time="14"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Wednesday" time="15"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Wednesday" time="16"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Wednesday" time="17"></div>
            {% comment %} Day break {% endcomment %}
            <div class="canvas-title">Thursday</div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Thursday" time="7"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Thursday" time="8"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Thursday" time="9"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Thursday" time="10"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Thursday" time="11"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Thursday" time="12"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Thursday" time="13"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Thursday" time="14"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Thursday" time="15"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Thursday" time="16"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Thursday" time="17"></div>
            {% comment %} Day break {% endcomment %}
            <div class="canvas-title">Friday</div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Friday" time="7"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Friday" time="8"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Friday" time="9"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Friday" time="10"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Friday" time="11"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Friday" time="12"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Friday" time="13"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Friday" time="14"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Friday" time="15"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Friday" time="16"></div>
            <div class="canvas-cell" ondrop="drop(event)" ondragover="allowDrop(event)" free="true" day="Friday" time="17"></div>
        </div>
        <div class="popup-wrapper">
            <div class="popup">
                {% comment %} <div class="popup-close"><button onclick="closePopup()">X</button></div> {% endcomment %}
                <div class="popup-content">
                    <h1>Select Room</h1>
                    <label>Room:</label>
                    <select name="room" id="id_room" required></select>
                    <button id="linkRoomBtn" onclick="linkSemesterUnitRoomBtn()">Link Room</button>
                </div>
            </div>
        </div>
        <div class="submit-button-container">
            <button onclick="saveSchedule()">Submit Schedule</button>
        </div>
    {% elif message %}
        <h3>Message: <h3><b>{{message}}</b>
    {% endif %}
    

{% endblock body %}